name: "Backup Sync to USB"
description: "Automatically copies Home Assistant backups to connected USB storage"
version: "0.1.3"
slug: "backup_sync"
arch:
  - aarch64
  - amd64
image: "ghcr.io/alekslegkih/backup_sync"
startup: application
boot: auto
url: "https://github.com/alekslegkih/hassio-addons-work"
privileged:
  - SYS_ADMIN
  - DAC_READ_SEARCH
devices: true
host_dbus: true
map:
  - backups:ro
  - addon_config:rw
  - media:rw
options:
  usb_device: ""
  max_copies: 5
  wait_time: 300
  sync_existing_on_start: true
  max_retries: 3
  retry_delay: 30
schema:
  usb_device: "str"
  max_copies: "int"
  wait_time: "int"
  sync_existing_on_start: "bool"
  max_retries: "int"
  retry_delay: "int"