name: "Backup Sync to RAID"
description: "Automatically sync backups from system drive to external RAID array"
version: "0.0.4"
slug: "backup_sync"
url: "https://github.com/alekslegkih/hassio-addons-work"
arch:
  - aarch64
  - amd64
image: "ghcr.io/alekslegkih/backup_sync"
startup: "application"
boot: "auto"
map:
  - backup:rw
  - media:rw
  - addon_config:rw
options:
  dest_dir: "/media/Backup"
  max_copies: 5
  wait_time: 300
  sync_existing_on_start: true
schema:
  dest_dir: "str"
  max_copies: "int"
  wait_time: "int"
  sync_existing_on_start: "bool"