name: "Backup Sync to RAID"
version: "0.0.1"
slug: "backup_sync"
description: "Автоматическая синхронизация бэкапов на внешний RAID массив с использованием watchdog"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: "application"
boot: "auto"
host_network: true
host_dbus: true
privileged:
  - SYS_ADMIN
full_access: true
map:
  - backup:rw
  - media:rw
  - config:rw
options:
  source_dir: "/backup"
  dest_dir: "/media/Backup"
  max_copies: 5
  wait_time: 300
  check_existing: true
schema:
  source_dir: "str"
  dest_dir: "str"
  max_copies: "int"
  wait_time: "int"
  check_existing: "bool"