name: "Backup Sync to RAID"
description: "Автоматическая синхронизация бэкапов на внешний RAID массив с использованием watchdog"
version: "0.0.1"
slug: "backup_sync"
url: "https://github.com/alekslegkih/hassio-addons-work"
arch:
  - aarch64
  - amd64
image: "ghcr.io/alekslegkih/backup_sync"
startup: "application"
boot: "auto"
host_network: true
host_dbus: true
privileged:
  - SYS_ADMIN

hassio_api: true
hassio_role: admin
homeassistant_api: true

full_access: true

map:
  - backup:rw
  - media:rw
  - config:rw
options:
  source_dir: "/backup"
  dest_dir: "/media/Backup"
  max_copies: 5
  wait_time: 300
  check_existing: true
schema:
  source_dir: "str"
  dest_dir: "str"
  max_copies: "int"
  wait_time: "int"
  check_existing: "bool"