name: "Backup Sync to USB"
description: "Automatically copies Home Assistant backups to connected USB storage"
version: "0.1.39"
slug: "backup_sync"
arch:
  - aarch64
  - amd64
image: "ghcr.io/alekslegkih/backup_sync"
startup: application
boot: auto
url: "https://github.com/alekslegkih/hassio-addons-work"
privileged:
  - SYS_ADMIN
  - DAC_READ_SEARCH
devices:
  - /dev/sdb  
  - /dev/sdc
  - /dev/sdd
  - /dev/sde
  - /dev/nvme0n1
  - /dev/nvme1n1
  - /dev/mmcblk0
  - /dev/mmcblk1
  - /dev/ttyUSB0
  - /dev/ttyUSB1
  - /dev/fuse
host_dbus: true
hassio_api: true
homeassistant_api: true
hassio_role: homeassistant
map:
  - backups:ro
  - addon_config:rw
  - media:rw
options:
  log_level: "INFO"
  usb_device: ""
  max_copies: 5
  wait_time: 300
  sync_existing_on_start: true
  max_retries: 3
  retry_delay: 30
  notify_service: notification_channel
schema:
  log_level: list(OFF|DEBUG|INFO|WARNING|ERROR|CRITICAL) 
  usb_device: "str"
  max_copies: "int"
  wait_time: "int"
  sync_existing_on_start: "bool"
  max_retries: "int"
  retry_delay: "int"
  notify_service: "str"
