name: "Nextcloud User Files Backup"
description: "Backup Nextcloud user files to external USB drive"
version: "0.5.11"
slug: "nc_user_files_backup"
url: "https://github.com/alekslegkih/hassio-addons-work"

arch:
  - aarch64
  - amd64

image: "ghcr.io/alekslegkih/nc_user_files_backup"

startup: services
boot: auto
init: false

hassio_api: true
hassio_role: admin
homeassistant_api: true

map:
  - addon_config:rw
  - media:rw
  - share:rw

schema:
  timezone: str(Europe/Moscow|Europe/Berlin|Europe/London|Europe/Paris|UTC)

  schedule: match(^([\d\*/,\-]+)\s+([\d\*/,\-]+)\s+([\d\*/,\-]+)\s+([\d\*/,\-]+)\s+([\d\*/,\-]+)$)

  rsync_options: str

  test_mode: bool

  storage:
    mount_path: str
    label_backup: str
    label_data: str
    data_dir: str

  power:
    enable_power: bool
    disc_switch: str?

  notifications:
    enable_notifications: bool
    notification_service: str?
    success_message: str?
    error_message: str?
