name: "Nextcloud User Files Backup"
description: "Backup Nextcloud user files to external USB drive"
version: "0.6.4"
slug: "nc_user_files_backup"
url: "https://github.com/alekslegkih/hassio-addons-work"
arch:
  - aarch64
  - amd64
image: "ghcr.io/alekslegkih/nc_user_files_backup"
startup: services
boot: auto
init: false
hassio_api: true
hassio_role: admin
homeassistant_api: true
map:
  - addon_config:rw
  - media:rw
  - share:rw
schema:
  schedule: match(^([\d\*/,\-]+)\s+([\d\*/,\-]+)\s+([\d\*/,\-]+)\s+([\d\*/,\-]+)\s+([\d\*/,\-]+)$)
  rsync_options: str
  storage:
    mount_path: str
    label_backup: str
    label_data: str
    data_dir: str
  power:
    enable_power: bool
    disc_switch: str?
  notifications:
    enable_notifications: bool
    notification_service: str?
    success_message: str?
    error_message: str?
  timezone: str
  test_mode: bool
options:
  schedule: "0 3 * * *"
  rsync_options: "-aHAX --delete"
  storage:
    mount_path: "media"
    label_backup: "NC_backup"
    label_data: "Cloud"
    data_dir: "data"
  power:
    enable_power: true
    disc_switch: ""
  notifications:
    enable_notifications: true
    notification_service: "send_message"
    success_message: "Nextcloud user files backup completed successfully!"
    error_message: "Nextcloud user files backup completed with errors!"
  timezone: "Europe/Moscow"
  test_mode: false