name: "Nextcloud User Files Backup"
description: "Backup Nextcloud user files to external USB drive"
version: "0.3.7"
slug: "nc_user_files_backup"
url: "https://github.com/alekslegkih/hassio-addons-work"
arch:
  - aarch64
  - amd64
image: "ghcr.io/alekslegkih/nc_user_files_backup"
startup: services
boot: auto
init: false
hassio_api: true
hassio_role: admin
homeassistant_api: true
options:
  cron: "0 3 * * *"
  manual_run: false
schema:
  cron: str
  manual_run: bool
map:
  - addon_config:rw
  - media:rw
  - share:rw
usb: true
