name: "Nextcloud User Files Backup"
description: "Backup Nextcloud user files to external USB drive"
version: "0.5.11"
slug: "nc_user_files_backup"
url: "https://github.com/alekslegkih/hassio-addons-work"
arch:
  - aarch64
  - amd64
image: "ghcr.io/alekslegkih/nc_user_files_backup"
startup: services
boot: auto
init: false
hassio_api: true
hassio_role: admin
homeassistant_api: true
map:
  - addon_config:rw
  - media:rw
  - share:rw



